<ion-view view-title="{{'ABOUTVIEW.TITLE' | translate}}" class="about_view">
  <ion-content class="padding">

    <ion-list>

      <ion-item class="item item-divider">
        {{'ABOUTVIEW.AUTHOR' | translate}}
      </ion-item>
      <ion-item class="item item-thumbnail">
      </ion-item>
      <ion-item class="item">
        {{'ABOUTVIEW.AUTHORNAME' | translate}}


         {{ctrl.config.version}}.{{ctrl.config.build}}
      </ion-item>

    </ion-list>

    <label class="item">
      <button class="button button-block button-positive" ng-click="aboutViewCtrl.fbLogin()">
        Login with Facebook
      </button>
    </label>

  </ion-content>
</ion-view>
