<ion-view view-title="{{'ABOUTVIEW.TITLE' | translate}}" class="about_view">
  <ion-content class="padding">

    <ion-list>

      <ion-item class="item item-divider">
        {{'ABOUTVIEW.AUTHOR' | translate}}
      </ion-item>
      <ion-item class="item item-thumbnail">
        <img width="100%" src="main/assets/images/img_team_dominik_zinser.png">
      </ion-item>
      <ion-item class="item">
        {{'ABOUTVIEW.AUTHORNAME' | translate}}


         {{ctrl.config.version}}.{{ctrl.config.build}}
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
