<ion-view view-title="{{'LISTDETAILVIEW.TITLE' | translate}}">

  <ion-content class="padding">

    <ion-list>

      <ion-item class="item item-divider">
        {{'LISTDETAILVIEW.AUTHOR' | translate}}
      </ion-item>
      <ion-item class="item">
        {{ listDetailViewCtrl.data.name }} dsfsd
      </ion-item>

      <ion-item class="item item-divider">
        {{'LISTDETAILVIEW.CREATEDDATE' | translate}}
      </ion-item>
      <ion-item class="item">
        {{ listDetailViewCtrl.data.start_time | date : "EEEE, d.MMMM, y" }}
      </ion-item>

      <ion-item class="item item-divider">
        {{'LISTDETAILVIEW.TWEETHEADLINE' | translate}}
      </ion-item>
      <ion-item class="nothing-hidden item">
        {{ listDetailViewCtrl }}
      </ion-item>

      <button class="btn-open-in-browser button button-stable" ng-click="listDetailViewCtrl.openLink()">
        {{'LISTDETAILVIEW.OPENLINKBTN' | translate}}
      </button>

    </ion-list>

  </ion-content>
</ion-view>
