<ion-view view-title="{{'LISTVIEW.TITLE' | translate}}" class="list_view">

  <ion-header-bar class="bar-light bar-subheader">

    <div class="large-inputfields bar">
      <label class="item item-input searchbar">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="{{'GENERAL.SEARCH' | translate}}" ng-model="searchTerm" value="{{ listViewCtrl.searchTerm | encodeUri }}" ng-model-options="{debounce: 400}" ng-change="listViewCtrl.getTweets(searchTerm)" >
      </label>

      <label class="item item-input filterbar">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="{{'GENERAL.FILTER' | translate}}" ng-model="filterTerm" ng-change="listViewCtrl.filterTweets(filterTerm)">
      </label>
    </div>

    <div class="keywordbar">
      <textarea ng-model="listViewCtrl.keywords"></textarea>
      <button class="button button-stable" ng-click="listViewCtrl.sendKeywords()">GO</button>
    </div>

    <div class="sortbar bar">
      <span>{{'GENERAL.SORTBY' | translate }}</span>
      <button class="button button-stable" ng-click="choice = 'name'" ng-class="{active : choice == 'name'}">{{'GENERAL.AUTHOR' | translate }}</button>
      <button class="button button-stable" ng-click="choice = 'startTime'" ng-class="{active : choice == 'startTime'}">{{'GENERAL.DATE' | translate }}</button>
      <button class="button button-stable" ng-click="listViewCtrl.isGallery = false; listViewCtrl.isList = true" ng-class="{active : listViewCtrl.isList == true}">
        <i class="icon ion-ios-list icon-accessory"></i>
      </button>
      <button class="button button-stable sort-btn" ng-click="listViewCtrl.isGallery = true; listViewCtrl.isList = false" ng-class="{active : listViewCtrl.isGallery == true}">
        <i class="icon ion-ios-keypad icon-accessory"></i>
      </button>
      <button class="button button-stable" ng-click="listViewCtrl.showCalendar()">
        cal
      </button>
    </div>

</ion-header-bar>

  <ion-content class="calendar-filter" style="display:none">
    <ion-nav-buttons side="right">
      <button class="button" ng-disabled="listViewCtrl.isToday()" ng-click="listViewCtrl.today()">Today</button>
      <button class="button" ng-click="listViewCtrl.changeMode('month')">M</button>
      <button class="button" ng-click="listViewCtrl.changeMode('week')">W</button>
      <button class="button" ng-click="listViewCtrl.changeMode('day')">D</button>
      <button class="button" ng-click="listViewCtrl.loadEvents()">Load Events</button>
    </ion-nav-buttons>
  </ion-content>

  <ion-content scroll="false" class="main-content calendar-view" style="display:none">
    <calendar ng-model="listViewCtrl.currentDate" calendar-mode="listViewCtrl.calendarMode" event-source="listViewCtrl.eventsArray" 
        range-changed="listViewCtrl.reloadSource(startTime, endTime)"
        event-selected="listViewCtrl.onEventSelected(event)" title-changed="onViewTitleChanged(title)"
        time-selected="listViewCtrl.onTimeSelected(selectedTime, events, disabled)" step="30">
      </calendar>
  </ion-content>

  <ion-content class="list-view">

  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="listViewCtrl.doRefresh()">
  </ion-refresher>

  <ion-list ng-class="{ 'list-gallery': listViewCtrl.isGallery, 'list-default': listViewCtrl.isList }">
    <ion-item ng-repeat="tweet in listViewCtrl.tweets | filter : filterTerm | orderBy : choice"
              class="tweet item-remove-animate item-avatar item-icon-right"
              type="item-text-wrap"
              ng-click="listViewCtrl.shareSelectedData(tweet)"
              ui-sref="main.listDetail">

      <div class="tweet-content-preview">
        <img src="{{ tweet.coverPicture }}" width="" height="" alt="" />
        <div class="tweet-author">
          {{ tweet.name }} 
        </div>
        <div class="tweet-date">
          {{'LISTVIEW.DATE' | translate }} {{ tweet.startTime | date : "EEEE, d.MMMM, y" }}
        </div>
        <div class="tweet-date">
          {{'LISTVIEW.PLACE' | translate }} {{ tweet.venue.name }}
        </div>
        <div class="tweet-text-preview">
          {{'LISTVIEW.DESCRIPTION' | translate }} <br><br> {{ tweet.description }}
        </div>
      </div>
      <i class="detail-btn icon ion-chevron-right icon-accessory"></i>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll
    ng-if="listViewCtrl.hasMoreResults()"
    immediate-check="false"
    icon="ion-loading-c"
    on-infinite="listViewCtrl.loadMoreResults()"
    distance="1%">
  </ion-infinite-scroll>

  </ion-content>

</ion-view>
