<ion-view view-title="Tweet Details">
  <!-- do you want padding -->
  <ion-content class="padding">

    <!-- content goes here -->
    <ion-list>

      <ion-item class="item item-divider">
        Author
      </ion-item>
      <ion-item class="item">
        {{ lidvwcontroller.data.user.name }}
      </ion-item>

      <ion-item class="item item-divider">
        Created at
      </ion-item>
      <ion-item class="item">
        {{ lidvwcontroller.data.created_at }}
      </ion-item>      

      <ion-item class="item item-divider">
        Tweet
      </ion-item>
      <ion-item class="nothing-hidden item">
        {{ lidvwcontroller.data.text }}
      </ion-item>

      <button class="btn-open-in-browser button button-stable" ng-show="lidvwcontroller.hasLink" ng-click="lidvwcontroller.openLink()">
        Open Link
      </button>

    </ion-list>

  </ion-content>
</ion-view>
