<ion-tabs class="tabs-icon-top tabs-assertive">

  <ion-tab title="{{'TABS.TWEETS' | translate}}" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt"
    ui-sref="main.list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'TABS.ABOUT' | translate}}" icon-off="ion-ios-person-outline" icon-on="ion-ios-person"
    ui-sref="main.about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

    <ion-tab title="{{'TABS.IMPRINT' | translate}}" icon-off="ion-ios-information-outline" icon-on="ion-ios-information"
    ui-sref="main.imprint">
    <ion-nav-view name="tab-imprint"></ion-nav-view>
  </ion-tab>

</ion-tabs>
